<h1>MYLLA ACESSORIOS</h1>
<p>AQUI VOCE ENCONTRA TODOS OS ACESSORIOS PARA O SEU CARRO</p>

<img src="https://lh3.googleusercontent.com/proxy/lXWNM4Q0UZ3YbGuJnAYoyfcQT0dMRXWFaj4xR5cOkfZp1g3XslW3zCBiqLmJa1offn9w1zlHq6PhdeU-WcsatHp9F-xxhv6SbPMyilp5TmeR2dZE7GKpurcPDxB3ybwpiS2h2xa_kRwH" alt="">

<h2 style="color: blue"><%= @welcome_message%></h2>
