#navbar {

    width: 100%;
    background-color: blueviolet;
    color: rgb(211, 33, 33);

}
#navbar ul {
    display: flex;
    list-style-type: none;
    margin-top: 0;

}
#navbar li {
    padding: 10px 20px;
}
#navbar a {
    text-decoration:  none;
    color: white;
}
body {
    margin: 0%;
}
#content {

    padding: 20px 40px;
}
.bt-green {
    padding: 8px 14px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}
.bt-info {
    padding: 8px 14px;
    background-color:red ;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}
.bt-blue {

    padding: 8px 14px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}
.bt-red {

    padding: 8px 14px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}

.bt:visited {
    color: white;
}
